/* Rock-Paper-Scissors*/



body{
    font-weight: bold;
    margin:0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2.5rem;
    color: rgb(24, 24, 24);
}

.choices{
    margin-bottom: 30px;
}

.choices button{
    font-size: 7.5rem;
    background-color: rgb(0, 140, 255);
    padding:0 10px;
    margin-left: 0px 20px;
    border: none;
    border-radius: 250px;
    cursor:pointer;
    transition:background-color 1.5s ease;
}

.choices button:hover{
    background-color: rgb(25, 0, 255);
}

#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}

#resultDisplay{
    font-size: 5rem;
    margin:30px 0;
}

.greenText, #playerScoreDisplay{
    color: rgb(62, 128, 0);
}
.redText, #computerScoreDisplay{
    color: rgb(160, 46, 31);
}

.scoreDisplay{
    font-size: 2rem;
}
